body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #eae2b7;
}

h1,
h2
h3,
h4,
h5,
h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}


/* Nifer */
.logoContainer {
  color: #f77f00;
  width: 100px;
  font-family: 'Times New Roman', Times, serif;
}


.cream-bg {
  background-color: #eae2b7;
}

.yellow-bg {
  background-color: #fcbf49;
}

.med-orange-bg {
  background-color: #f77f00;
}

.dk-orange-bg{
  background-color: #d62828;
}

.dk-blue-bg {
  background-color: #003049;
}

.card-pics {
  width: 120px;
  height: 120px;
  object-fit: cover;
}